@font-face {
  font-family: "Raleway";
  src: url("/src/fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  margin: 0;
}
h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 40px;
}
.page__main {
  flex-grow: 1;
}
.header {
  background-color: #ffffff;
}
.header__wrapper {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 60px 150px;
  background-color: #ffe17f;
}
.header__nav {
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.main-nav__user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main-nav__wrapper-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main-nav__menu {
  display: flex;
  column-gap: 45px;
  flex-wrap: wrap;
}
.user-menu__search-form {
  display: flex;
}
.user-menu__search-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
}
.user-menu__button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  border: none;
  background-color: transparent;
}
.search-form__input {
  width: 359px;
  box-sizing: border-box;
  padding-left: 48px;
  border-radius: 50px 0 0 50px;
}
.search-form__button {
  padding: 8px 56px;
  border-radius: 0 50px 50px 0;
  border-left: none;
}
.login-button {
  padding: 0 150px 0 27px;
}
.compare-button {
  padding-left: 22px;
}
.cart-button {
  padding-left: 25px;
}
.catalog-submenu__toggle {
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 15px 57px 15px 0;
}
.catalog-submenu__list {
  display: none;
}
.catalog-submenu__link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.main-menu__link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 15px 0;
}
.promo-card {
  display: flex;
}
.delivery-modal {
  display: none;
}
/*# sourceMappingURL=style.css.map */
